<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="fatal" monitorInterval="60">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Console name="console_advance" target="SYSTEM_OUT">
            <PatternLayout pattern="%date{HH:mm:ss.SSS} [%thread] %-5level %location - %msg%n"/>
        </Console>
        <File name="file" fileName="logs/notidemo.log">
            <PatternLayout>
                <Pattern>%date{ISO8601} [%thread] %-5level %location - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
